<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title=${pageTitle})"></head>
<body>
<div th:fragment="content">
    <div class="container mt-5 d-flex justify-content-center">
        <div class="w-100" style="max-width: 400px;">
            <h1 class="mb-4 text-center"><i class="fas fa-exchange-alt mr-2" style="color: #203260;"></i> Add Stock
                Movement</h1>
            <form th:action="@{/stockmovements/add}" th:object="${stockMovement}" method="post">

                <div class="form-group mb-3">
                    <label for="product">Product:</label>
                    <select id="product" name="productId" class="form-control" required>
                        <option th:each="product : ${products}" th:value="${product.id}"
                                th:text="${product.name}"></option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="warehouse">Warehouse:</label>
                    <select id="warehouse" name="warehouseId" class="form-control" required>
                        <option th:each="warehouse : ${warehouses}" th:value="${warehouse.id}"
                                th:text="${warehouse.name}"></option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" th:value="${stockMovement.quantity}"
                           class="form-control" required>
                </div>

                <div class="form-group mb-3">
                    <label for="movementType">Movement Type:</label>
                    <select id="movementType" name="movementType" class="form-control" required>
                        <option value="IN">In</option>
                        <option value="OUT">Out</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="movementDate">Movement Date:</label>
                    <input type="date" id="movementDate" name="movementDate"
                           th:value="${#dates.format(stockMovement.movementDate, 'yyyy-MM-dd')}" class="form-control"
                           required>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    <i class="fas fa-plus-circle mr-2"></i> Add Stock Movement
                </button>
            </form>
            <a href="/stockmovements/list" class="btn btn-secondary w-100 mt-3">
                <i class="fas fa-arrow-left mr-2"></i> Back to List
            </a>
        </div>
    </div>
</div>
</body>
</html>
