<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title=${pageTitle})"></head>
<body>
<div th:fragment="content">
    <div class="container mt-5">
        <h1 class="mb-4 text-center"><i class="fas fa-exchange-alt mr-2" style="color: #203260;"></i> Stock Movement
            List </h1>
        <a href="/stockmovements/add" class="btn btn-primary mb-3"><i class="fas fa-plus-circle mr-2"></i> Create New
            Stock Movement</a>
        <table id="myTable" class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Warehouse</th>
                <th>Quantity</th>
                <th>Movement Date</th>
                <th>Movement Type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stockMovement : ${stockMovements}">
                <td th:text="${stockMovement.id}"></td>
                <td th:text="${stockMovement.productName}"></td>
                <td th:text="${stockMovement.warehouseName}"></td>
                <td th:text="${stockMovement.quantity}"></td>
                <td th:text="${stockMovement.movementDate}"></td>
                <td th:text="${stockMovement.movementType}"></td>
                <td>
                    <div>
                        <a th:href="@{/stockmovements/edit/{id}(id=${stockMovement.id})}"
                           class="btn btn-success"><i class="fas fa-edit mr-1"></i> Update</a>

                        <form th:action="@{/stockmovements/delete/{id}(id=${stockMovement.id})}" method="post"
                              style="display:inline;">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt mr-1"></i> Delete
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>


