<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title th:title="${title}">Stock Management</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container mt-4">
    <!-- Header -->
    <header>
        <h1>Stock Management</h1>
        <nav>
            <a href="/categories/list" class="btn btn-primary">Category List</a>
            <!-- Diğer bağlantılar -->
        </nav>
    </header>

    <!-- Content -->
    <div th:fragment="content">
        <!-- İçerik buraya eklenecek -->
    </div>


    <!-- Footer -->
    <footer class="mt-4">
        <p>&copy; 2024 My Application</p>
    </footer>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
