<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Product</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Edit Product</h1>
    <form th:action="@{/products/edit/{id}(id=${product.id})}" th:object="${product}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:value="${product.name}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" th:value="${product.description}"
                   class="form-control" required>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" th:value="${product.price}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="stock_quantity">Stock Quantity:</label>
            <input type="number" id="stock_quantity" name="stock_quantity" th:value="${product.stock_quantity}"
                   class="form-control" required>
        </div>
        <div class="form-group">
            <label for="barcode">Barcode:</label>
            <input type="text" id="barcode" name="barcode" th:value="${product.barcode}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="category">Category Name:</label>
            <select id="category" name="categoryId" class="form-control" required>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"
                        th:selected="${category.id == product.categoryId}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="supplier">Supplier Name:</label>
            <select id="supplier" name="supplierId" class="form-control" required>
                <option th:each="supplier : ${suppliers}" th:value="${supplier.id}" th:text="${supplier.name}"
                        th:selected="${supplier.id == product.supplierId}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Update Product</button>
    </form>
    <a href="/products/list" class="btn btn-secondary mt-3">Back to List</a>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
