<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title=${pageTitle})"></head>
<body>
<div th:fragment="content">
    <div class="container mt-5" style="max-width: 600px;">
        <h1 class="mb-4 text-center"><i class="fas fa-user-circle mr-2" style="color: #203260;"></i> Edit Profile</h1>
        <div class="card shadow-sm">
            <div class="card-body">
                <form th:action="@{/profile/edit}" th:object="${user}" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" required>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" th:field="*{username}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="oldPassword" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword">
                    </div>
                    <button type="submit" class="btn btn-primary w-100"><i class="fas fa-check-circle mr-2"></i> Update
                        Profile
                    </button>
                </form>
                <a href="/profile/detail" class="btn btn-secondary w-100 mt-3"><i class="fas fa-arrow-left mr-2"></i>
                    Back to
                    Profile</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
